.combobox-input {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background-color: #EEE;
  box-shadow: 0 1px 2px #AAA;
}

.combobox-input:focus-visible {
  outline: none;
}

div[data-reach-popover] {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: none;
}

ul[data-reach-combobox-list] {
  position: relative;
  top: -20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #EEE;
  box-shadow: 0 1px 2px #AAA;
}

li[data-reach-combobox-option]:first-of-type {
  padding-top: 25px;
}

li[data-reach-combobox-option]:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
