/* .ameneties {
  justify-content: center;
  align-items: center;
} */

.cb-btn + label {
  /* background-color: #EEE !important;
  border: 1px solid #e1e0e0;
  color:#565555 !important;   */
  color: #303030 !important;
  background-color: #DDD !important;
  border-color: #BBB;
  border-radius: .8rem;
  /* box-shadow: 0 1px 2px #AAA; */
  margin: .5rem; 
  width: 6.5rem;
}

.cb-btn:checked + label {
  transition: .3s ease-in-out !important;
  cursor: pointer !important;
  background-color: rgb(14, 13, 13) !important;
  color: #EEE !important;
  }

.cb-btn:hover + label:hover {
  /* color: #303030 !important;
  background-color: #DDD !important;
  border-color: #BBB; */
  background-color: rgb(14, 13, 13) !important;
  color: #EEE !important;  
}