.cb-btn + label {
  color: #303030 !important;
  background-color: #DDD !important;
  border-color: #BBB;
  border-radius: 1.8rem;
  margin: .5rem; 
  width: 6.5rem;
}

.cb-btn:checked + label {
  transition: .3s ease-in-out !important;
  cursor: pointer !important;
  background-color: rgb(14, 13, 13) !important;
  color: #EEE !important;
  }

.cb-btn:hover + label:hover {
  background-color: rgb(14, 13, 13) !important;
  color: #EEE !important;  
}