p {font-size: 20px;}

 #exampleInputFirstName, #exampleInputLastName, #exampleInputBirthday,#exampleInputEmail,#exampleInputPassword,#exampleInputCarMakeModel {
    background-color: lightgray;
    margin: 15px;
    width: 90%;
    border:50px;
    border-radius: 10px;
 
 }



