.menu-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  text-align: right;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #CCC;
  background-color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  transition: opacity 0.5s;
}


.menu-show {

}

.menu-hide {
  opacity: 0;
  pointer-events: none;
}

nav ul {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.2);
  border-radius: 15px;
}

nav li {
  text-align: left;
}

.nav-item a:hover {
  background-color: #EEE;
  color: #000;  
}

.icon{
  margin-left: 10px;
}
