.submit {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
    border-radius: 30px !important;
    padding: 8px 82px 8px 82px !important;
    font-size: 18px !important;
}