.welcome-body {
  background-color: #4040FB;
  min-height: 100vh;
}

.welcomelogo {
  display: block;
  margin: auto;
  width: 300px;
  max-width: 90%;
  padding-top: 100px;
}

.welcomeimage {
  display: block;
  margin: auto;
  width: 300px;
  max-width: 90%;
}

.welcometext {
  color: #fff;
  font-weight: 300 !important;
  text-shadow: 1px 1px 2px #3838DB;
  padding-bottom: 30px;
}

.firstpagebody#root {
  background-color: #4040FB;
}
